    body, ul, li, h1, h2, p {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    p {
        font-size: 18px;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #d6d5e9;
     }
           
    button {
        padding: 10px 15px; 
    }
      
      main {
        flex: 1;
      }
    
      .header {
        background-image: url(../images/Header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 300px;
        width: 100%;
        background-size: cover;
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }
    
    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
    }

    .intro {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: white;
        transform: translate(-50%, -50%);
    }

    .intro h1 {
        font-family: verdana;
        color: white;
        display: inline-block;
        border: 5px solid white;
        padding: 10px 20px;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 3px;
    }

    .intro p {
        font-size: 20px;
        margin-top: 15px; 
        font-family: serif;
        margin-bottom: 30px;
    }

    .read-now-button {
        text-decoration: none;
        position: relative;
        padding: 10px 20px; 
        border: 2px;
        border-radius: 5px; 
        color: #ffffff; 
        background-color: rgb(0, 53, 169); 
        margin-top: 10px; 
        transition: background-color 0.3s, color 0.3s; 
    }
    
    .read-now-button:hover {
        box-shadow: 0 0 10px #0e043a, 0 0 20px #18056d, 0 0 30px #030332;
        transition: box-shadow 0.3s ease-in-out; 
        background-color: #120262; 
        color: white;
    }

    .auth-button {
        position: absolute;
        top: 10px;
        right: 20px;
        display: flex;
        gap: 10px;
    }

    .auth-button a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease;
        position: relative;
    }

    .auth-button .signup {
        background: rgb(6,0,75);
        background: linear-gradient(139deg, rgba(6,0,75,0.978203781512605) 0%, rgba(81,81,170,1) 54%, rgba(68,101,230,1) 100%);    
    }

    .auth-button .icon {
        display: none; 
    }

    .auth-button .button-text {
        display: inline; 
    }

    .auth-button a:hover {
        opacity: 0.8; 
    }

    nav.main-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:#dcd5d5 ; 
        padding: 10px 0; 
        width: 100%;
    }

    nav.main-nav ul {
        list-style-type: none;
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav.main-nav ul li {
        flex: 1; 
    }

    nav.main-nav ul li a {
        text-align: center;
        display: block; 
        color: black;
        text-decoration: none;
        padding: 15px; 
        background-color:#f5f5f5 ; 
    }

    nav.main-nav ul li a:hover {
        background: linear-gradient(139deg, rgba(6,0,75,0.978203781512605) 0%, rgba(81,81,170,1) 54%, rgba(68,101,230,1) 100%);
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: box-shadow 0.2s ease-in-out;
     }
     
    nav.main-nav ul li a:not(:hover) {
        box-shadow: none;
        transition: box-shadow 0.5s ease; 
    
    }

    .image-container {
        text-align: center;
        margin: 20px 0;
    }

    .portrait {
        width: 100%;
        max-width: 300px;
        height: 100%; 
        object-fit: cover;
    }

    .portrait:hover {
        box-shadow: 0 0 10px #0e043a, 0 0 20px #18056d, 0 0 30px #030332;
        transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
    }

    .image-description {
        margin-top: 10px;
    }

    .characters-section {
        text-align: center; 
        margin: 40px 0; 
    }
    
    .characters-title {
        font-size: 2em; 
        margin-bottom: 20px; 
        color: #0e043a; 
        font-family: georgia;
    }
    
    .characters-list {
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
        text-decoration: none;
    }

    .characters-list p {
        text-decoration: none;/
    }
    
    .character {
        margin: 15px;
        text-align: center;
    }
    
    .character img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .character p {
        text-decoration: none;
    }
    
    .character:hover img {
        box-shadow: 0 0 10px #0e043a, 0 0 20px #18056d, 0 0 30px #030332;
    }
    

    .upper-footer {
        padding: 20px;
        background-color: lightgrey;
        color: black;
        text-align: center;
    }

    .upper-footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upper-footer .socials {
        margin-top: 10px;
    }

    .social-icon {
        margin-right: 12px;
    }

    .social-icon img {
        width: 25px;
        height: 25px;
        object-fit: cover;
    }

    .social-icon img:hover {
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    }

    .social-media-header {
        text-align: center;
        margin-bottom: 10px;
    }    

    footer {
        min-height: 30px;
        text-align: center;
        background-color: lightgrey;
        color: black;
    }

    .title-img {
        width: 170px;
        height: auto;
        margin-bottom: 20px;
    }

    .title-img:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
    }

    .footer-top-line {
        width: 100%;
        height: 2px;
        margin-bottom: 10px;
        background-color: #000000;
    }

    .about-design {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap; 
        margin: 20px;
        align-items: center;
    }
    
    .about-design ul {
        display: flex;
        justify-content: center; 
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    
    .about-design li {
        margin: 10px;
    }
    
    .about-design img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        object-fit: cover; 
        border-radius: 10px;
        transition: box-shadow 0.3s ease-in-out;
    }

    .about-design img:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        box-shadow: 0 0 10px #2c106a, 0 0 20px #2c106a, 0 0 30px #2c106a;
        transition: box-shadow 0.3s ease-in-out;
    }

    .about-design p {
        text-align: center;
        margin-top: 20px;
        max-width: 800px;
        padding: 0 20px;
        text-align: justify;
    }

    .chapter-heading {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .chapter-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .chapter-list a {
        font-size: 15px;
        color: #9281E2;
        text-decoration: none;
        margin: 10px 0;
        font-weight: solid;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    
    .chapter-list a:hover {
        text-decoration: underline;
        color: black;
    }

    .character-container {
        text-align: center;
        width: 80%;
        max-width: 800px;
        margin: auto;
        background: rgb(235,234,255);
        background: linear-gradient(139deg, rgba(235,234,255,1) 0%, rgba(235,234,255,1) 50%, rgba(235,234,255,1) 100%);        
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .character-container h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        font-family: trajan;
        font-variant: small-caps;
    }
    
    .character-image img {
        max-width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .character-image img:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        box-shadow: 0 0 10px #2c106a, 0 0 20px #2c106a, 0 0 30px #2c106a;
        transition: box-shadow 0.3s ease-in-out;
    }

    .character-image img:not(:hover){
        box-shadow: none;
        transition: box-shadow 0.5s ease; 
    }
    
    .character-info h2 {
        font-size: 1.8em;
        margin-top: 30px;
        font-family: 'Times New Roman';
        font-variant: small-caps;
    }
    
    hr {
        border: none;
        height: 2px;
        background-color: #333;
        width: 100%;
        margin: 10px auto;
    }
    
    .character-info p {
        font-size: 1em;
        margin: 10px 0;
        font-family: Georgia, 'Times New Roman';
        text-align: justify;
    }

    @media (max-width: 768px) {
        .chapter-heading {
            font-size: 20px;
        }
    
        .chapter-list a {
            font-size: 18px;
        }

        .read-now {
            width: 100%; 
            font-size: 14px; 
        }
    
        .back-to-top {
            bottom: 10px; 
            right: 10px; 
        }
    
        .previous, .next {
            font-size: 12px; 
        }
    
        .login-signup {
            display: none; 
        }
    
        .login-signup-img {
            display: block; 
            width: 40px;
            height: 40px; 
            border-radius: 50%; 
            position: absolute; 
            top: 10px; 
            right: 10px;
            background-size: cover;
        }

        .about-design {
            flex-direction: column;
            text-align: center;
        }
    
        .about-design img {
            width: 100%;
            height: auto;
        }

        nav.main-nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            }
            
        nav.main-nav ul li {
            width: 100%;
            }
            
        nav.main-nav ul li a {
            text-align: center;
            padding: 15px 0;
            }
    
    }

    @media (min-width: 769px) {
        .login-signup-img {
            display: none;
        }
    
        .login-signup {
            display: flex;
        }
    }

    @media (max-width: 730px) {
        .auth-button {
            font-size: smaller;
        }
    }

    @media (max-width: 660px) {
        .intro h1 {
            font-size: 4vh;
        }

        .intro p {
            font-size: 4vh;
        }
    }
    
    @media (max-width: 610px) {
        .auth-button {
            font-size: x-small;
        }
    }

    @media (max-width: 600px) {
        .header {
            height: auto;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .intro {
            text-align: left; /* Align text to the left */
            flex: 1; /* Allow intro to take available space */
        }
        
        .auth-button {
            flex: none; /* Keep auth button fixed size */
        }
    
        h1 {
            font-size: 1.5em; /* Adjust font size for mobile */
        }
    
        p {
            font-size: 0.9em; /* Adjust paragraph size */
        }
    
        .read-now-button, .btn {
            padding: 10px 15px; /* Adjust button padding */
        }
    }

    @media (max-width: 517px) {
        .auth-button a {
            padding: 0;
            width: 40px; 
            height: 40px;
            border-radius: 50%;
            display: flex; 
            align-items: center;
            justify-content: center;
        }   
        .auth-button .button-text {
            display: none;
        }
        .auth-button .icon {
        display: block;
        width: 30px;
        height: 30px;
        }
    }

    @media (max-width: 500px) {
        .intro h1 {
            font-size: 3.5vh;
            padding: 5px;
            text-align: center;
            margin: 10px;
        }

        .intro p {
            font-size: 3.5vh;
        }

        .read-now-button {
            font-size: 3vh;
        }

        nav.main-nav ul li{
            font-size: smaller;
            padding: 0;
        }
    }

    @media (max-width: 450px) {
        nav.main-nav {
            padding: 5px 0;
        }

        nav.main-nav ul li{
            font-size: 10px;
            font-weight: 700;
            padding: 0;
        }
    }

    @media (max-width: 426px) {
        nav.main-nav ul li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            flex-grow: 1;
        }
        nav.main-nav ul li {
            flex-grow: 1;
        }

        nav.main-nav ul li a {
            text-align: center;
            display: block;
            text-decoration: none;
            width: 100%;
        }
    }

    @media (max-width: 380px) {
        .intro h1 {
            font-size: 0.9em;
        }

        .intro p {
            font-size: 1em;
        }

        .read-now-button {
            font-size: 12px;
        }
    }

    
    
    @media (max-width: 320px) {
        .intro h1{
            font-size: 20px;
        }
        .intro p {
            font-size: 16px;
        }
        .read-now-button {
            padding: 7px;
            font-size: 13px;
        }
        .auth-button a {
            padding: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }   
        .auth-button .button-text {
            display: none; 
        }
        .auth-button .icon {
        display: block;
        width: 30px;
        height: 30px;
        }
    }



    @media (max-width: 421px) and (min-width: 321px) {
        nav.main-nav {
            justify-content: center;
            width: 100%;
            overflow: hidden;
        }
    
        nav.main-nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style-type: none;
            transition: all 0.3s ease;
        }
    
        nav.main-nav ul li {
            width: 100%;
        }
    
        nav.main-nav ul li a {
            text-align: center;
            padding: 15px 0;
            flex-grow: 1; 
        }
    
        .nav-toggle {
            cursor: pointer;
            display: block;
        }
    
        .auth-button {
            position: absolute;
            right: 10px;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
        }
    
        .auth-button a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .auth-button .button-text {
            display: none;
        }
    
        .auth-button .icon {
            display: block;
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width: 200px) {
        nav.main-nav {
            justify-content: center;
        }

        nav.main-nav ul {
            display: none;
            flex-direction: column;
            text-align: center;
        }
    }
